<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">
    <title>Gallery</title>
</head>
    <body>
        <!-- Header -->
        <div class="nav">
            <div class="tab-menu">
                <ul class="tab-menu__list">
                    <li class="tab-menu__item">
                        <span class="tab-menu__icon"><i class="ri-home-line"></i></span>
                        <span class="tab-menu__text">Home</span> 
                    </li>
                    <li class="tab-menu__item tab-menu__active">
                        <span class="tab-menu__icon"><i class="ri-folder-image-fill"></i></span>
                        <span class="tab-menu__text">Category</span> 
                    </li>
                </ul>
            </div>
        </div>
        <!-- Content -->
        {% for category, image in category_images.items %}
        <div class="container">
            <a href="{% url 'gallery' category %}">
                <div class="card">
                    <img src="{{ image.image_url }}" alt="{{ image.filename }}">
                    <div class="card__head">{{ category }}</div>
                </div>
            </a>
        </div>
        {% endfor %}
    </body>
</html>
