<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
    <script src="{% static 'js/gallery.js' %}"></script>
    <title>Gallery</title>
</head>
    <body>
        <div class="content">

            <div class="top-tab">
                <ul class="tab-list">
                    <li class="list-item" onclick="navigateTo('{% url 'index' %}')">
                        <span><i class="ri-home-line"></i></span>
                        <span class="tab-text">Home</span>
                    </li>
                    <li class="list-item tab-active" onclick="navigateTo('{% url 'gallery' %}')">
                        <span><i class="ri-gallery-line"></i></span>
                        <span class="tab-text">Gallery</span>
                    </li>
                    <li class="list-item">
                        <span><i class="ri-gallery-view-2" onclick="navigateTo('{% url 'category' %}')"></i></span>
                        <span class="tab-text">Category</span>
                    </li>
                </ul>
            </div>
      
            <!-- Home Tab -->
            {% if images %}
            <div class="gallery" id="gallery">
                {% for key, image in images.items %}
                <div class="gallery-item">
                    <div class="content"><img src="{{ image.image_url }}" alt="{{ image.filename }}"></div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>Nothing to see Here</p>
            {% endif %}
        </div>

    </body>
    <script>
        function navigateTo(url) {
            window.location.href = url;
        }
    </script>
</html>